{% extends "mybase.html" %}
{% block emailop %}
<div class="container">
    <div class="starter-template">
        <div class="row" style="height:100vh;">
            <div class="col-md-10 col-md-offset-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th>name</th>
                            <th>text</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{output.name}}</td>
                            <td>{{output.text}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}


